<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="index.css")
    block links
    title #{pageTitle}
  body
    .wrapper
      header
        .logo
          img(src="https://image.flaticon.com/icons/png/512/21/21601.png", alt="logo")
        nav
          ul.nav
            a(href="/", class=(path === '/' && 'nav__item--active')).nav__item
              li Home
            a(href="/news", class=(path === '/news' && 'nav__item--active')).nav__item
              li News
            a(href="/admin/add-article", class=(path === '/add-article' && 'nav__item--active')).nav__item
              li Add Article
      main
        block content