* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background: rgb(200, 200, 200);
}

.wrapper {
  width: 1080px;
  background: #fff;
  margin: 20px auto;
}

header {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.nav {
  width: 700px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: 70px;
  font-size: 18px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparent;
  transition: all 0.3s; 
}

.nav-item:hover {
  border-bottom-color: #000;
  font-weight: bold;
}

.logo img {
  width: 100px;
}

main {
  padding: 30px;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.news__block {
  width: 250px;
  margin: 15px;
  padding: 15px;
  border-radius: 3px;
}

.news__block:hover {
  box-shadow: 0 0 3px 0px #0000007d;
}

.news__title {
  margin-bottom: 15px;
}

.news__description {
  font-size: 12px;
}

.news__author {
  font-size: 10px;
  margin-top: 5px;
  color: rgb(124, 124, 124);
}